extends ../layout

block content
  h4(class='main-title') Congrats!
  h5(class='text-center' style='font-weight:bold') Before
  a(href='' class='thumbnail')
    img(src='http://www.contemporist.com/wp-content/uploads/2016/08/teen-bedrooms_020816_14-800x578.jpg')
  h5(class='text-center' style='font-weight:bold') After
  a(href='' class='thumbnail')
    img(src='https://i.pinimg.com/564x/08/13/07/08130790d992119c07e550eb6eba6072.jpg')
  h5(class='text-center') Costing
  h3(class='text-center' style='font-weight:bold') $11,300
  h5(class='text-center') Constructed in
  h3(class='text-center' style='font-weight:bold') 7 days
  h5(class='text-center') With
  div(class='text-center')
    img(src="/images/snake.png", style='max-width:180px;')
    h5(style='font-weight:bold') Home Sequencer
    p powered by Freelancer
