extends ../layout

block content
  h4(class='main-title') Congrats!
  h5(class='text-center' style='font-weight:bold') Before
  div(class='row grid-sm' style='margin-bottom:0px')
    div(class='col-xs-6')
      a(href='' class='thumbnail')
        img(src='/images/kitchen1a.jpg')
    div(class='col-xs-6')
      a(href='' class='thumbnail')
        img(src='/images/kitchen1b.jpg')
  h5(class='text-center' style='font-weight:bold') After
  div(class='row grid-sm' style='margin-bottom:0px')
    div(class='col-xs-6')
      a(href='' class='thumbnail')
        img(src='/images/kitchen3a.jpg')
    div(class='col-xs-6')
      a(href='' class='thumbnail')
        img(src='/images/kitchen3b.jpg')
  h5(class='text-center') Costing
  h3(class='text-center' style='font-weight:bold') $11,300
  h5(class='text-center') Constructed in
  h3(class='text-center' style='font-weight:bold') 7 days
  h5(class='text-center') With
  div(class='text-center')
    img(src="/images/snake.png", style='max-width:180px;')
    h5(style='font-weight:bold') Home Sequencer
    p powered by Freelancer
