extends ../layout

block content
  h4(class='main-title') Inspiration
  p(class='text-center') Select 3 most important tags and your single favourite board
  div(class='project-list')
    div(class='row')
      div(class='col-sm-8 col-sm-push-2 col-md-6 col-md-push-3')
        div(class='clear clearfix')
          h5(class='text-center' style='font-weight:bold') Intent Tags
          div(class='inspiration-tags')
              div(class='row btn-group grid-sm' data-toggle='buttons' style='margin-bottom:0')
                each tag in ['Comfy', 'Romantic', 'Kid friendly', 'Luxury', 'Modern', 'Minimal', 'Clean', 'Rustic', 'Light']
                  div(class='col-xs-4')
                    label(class='btn btn-block btn-default btn-xs')
                      input(type='checkbox')
                      = tag
        div(class='clear clearfix')
          h5(class='text-center' style='font-weight:bold') Pinterest Board
          h6 Board 1
          div(class='row grid-sm' style='margin-bottom:0')
            div(class='col-xs-4')
              a(href='' class='thumbnail')
                img(src='/images/inspiration/229f142e9ba775b01c789562cd491976.jpg')
            div(class='col-xs-4')
              a(href='' class='thumbnail')
                img(src='/images/inspiration/911b7d5623ca7f9da6df8b052c11929c.jpg')
            div(class='col-xs-4')
              a(href='' class='thumbnail')
                img(src='/images/inspiration/2de1c5c07835d4b855622ce394d30679.jpg')
          h6 Board 2
          div(class='row grid-sm' style='margin-bottom:0')
            div(class='col-xs-4')
              a(href='' class='thumbnail')
                img(src='/images/inspiration/3928cefef5d3abd7080ca4672bace2a7.jpg')
            div(class='col-xs-4')
              a(href='' class='thumbnail')
                img(src='/images/inspiration/9262785b3c62dbb00dbbb5907395ada3.jpg')
            div(class='col-xs-4')
              a(href='' class='thumbnail')
                img(src='/images/inspiration/affb3a44ae21d890cf31fdbc31023fc3.jpg')
          h6 Board 3
          div(class='row grid-sm' style='margin-bottom:0')
            div(class='col-xs-4')
              a(href='' class='thumbnail')
                img(src='/images/inspiration/ddb9ef93de49b6a3833cf8398e42ecc9.jpg')
            div(class='col-xs-4')
              a(href='' class='thumbnail')
                img(src='/images/inspiration/c99794d1e138e9d1af4cd0947af8c74c.jpg')
            div(class='col-xs-4')
              a(href='' class='thumbnail')
                img(src='/images/inspiration/e19346a12cf0e107525175766969a220.jpg')
        div(class='clear clearfix text-center' style='margin-top:15px;margin-bottom:30px')
          h5 List Design and Sequencing Project
          h3 $750
          a(class='btn waves-effect waves-light btn-large', href='/project/1/designer')
            span Confirm
            i(class='material-icons right') send
