extends ../layout


block content
  div(class='text-center')
    h4 Pick a Project Template
    img(src='/images/breakdown.png', style='width:200px; margin:20px;margin-top:5px;margin-left:40px;')
  div(class='project-list')
    div(class='row')
      div(class='col-sm-8 col-sm-push-2 col-md-6 col-md-push-3')
        div(class='card')
          div(class='card-content')
            span(class='card-title') Deep clean
            p Scrub your entire house clean leaving it fresh in no time.
          div(class='card-action')
            a(href='/project/1/steps') $300
            small to sequence (+ extras)
        div(class='card')
          div(class='card-content')
            span(class='card-title') Decorate
            p Revitalise your space with a splash of colour and some new furniture.
          div(class='card-action')
            a(href='/project/1/steps') $750
            small to sequence (+ furniture, extras)
        div(class='card')
          div(class='card-content')
            span(class='card-title') Renovate
            p Bring a hammer, this could get messy. But it will be worth it!
          div(class='card-action')
            a(href='/project/1/steps') $1,500+
            small to sequence (+ furniture, extras)
