extends ../layout

block content
  h4(class='main-title') Status
  h5(class='text-center' style='font-weight:bold') $11,250
  h6(class='text-center') remaining
  div(class='seq seq-prepare')
    h3 Prepare
    ul
      li
        span Designer (Sequencer)
      li(class="sub")
        span Design project
      li(class="sub")
        span Sequence freelancers
  div(class='seq seq-construct')
    h3 Construct
    ul
      li(class='complete')
        span Carpenter
      li(class="sub complete")
        span Install inbuilt furniture
      li
        span Painter
      li(class="sub")
        span Paint walls
      li
        span IKEA installer
      li(class="sub")
        span Build furniture
  div(class='seq seq-refine')
    h3 Refine
    ul
      li
        span Cleaner
      li(class="sub")
        span Clean Space
      li
        span Florist
      li(class="sub")
        span Deliver flowers
