extends layout

block content
  style .navbar { display: none }
  .div(class='text-center', style='padding-top:20px; padding-bottom:30px')
    img(src="/images/snake.png", style='max-width:180px;')
    .p
    h2 Home Sequencer
    h5 powered by Freelancer
    img(src='/images/splash-diagram.png', style='max-width:150px; margin-top:20px;margin-bottom:20px')
    .p
    .p Dream home in 3 easy steps
    a(class='btn btn-primary btn-large', style='margin-top:30px', href='/login')
      | Login
