extends layout

block content
  .div(class='text-center')
    .page-header
      h2 TOM_CREATE_COOL_LOGO
    .p Blaha BlahaBlahaBlahaBlahaBlahaBlahaBlaha
    br
    .p BlahaBlahaBlahaBlahaBlahaBlahaBlahaBlahaBlaha
    br
    .p Blaha
    button.btn.btn-primary(type='submit')
      i.fa.fa-home
      | Start my dream house
