body {
  margin-top: 60px;
  background: #fbfbfb;
}

.project-list .card-action {
}
.project-list .card-action a {
  font-size: 1.6em;
}
.project-list .card-action small {
  display: inline-block;
  vertical-align: top;
  margin-top: 8px;
}
.project-list .card-title {
  font-size: 2.2em;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
  color: #2ca8ff;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating):hover {
  color: #59bbff;
}

.navbar-brand {
  padding-top: 5px;
  padding-bottom: 5px;
}
.navbar-brand img {
  max-height: 100%;
}

.container {
  width: 100%;
}


.template-section {
  margin-bottom: 25px;
}
.template-heading-icon {
  display: inline-block;
  width: 30px;
  margin-right: -30px;
}
.template-heading-title {
  width: 100%;
  display: inline-block;
  text-align: center;
}
.template-indent-arrow  {
  align-self: center;
  width: 30px;
}
.template-node  {
  display: flex;
  margin-bottom: 5px;
}
.template-node-0 {
  margin-left: 25px;

  &__body {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 2px solid;
    padding: 5px;
  }
}

.template-node-1 {
  margin-left: 50px;
  margin-right: 15px;

  &__body {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 2px solid;
    padding: 5px;
  }
}

.template-section {
  &--light-blue {
    .template-node-0__body {
      border-color: rgba(44,168,255,1);
    }
    .template-node-1__body {
      border-color: rgba(44,168,255,1);
      background: rgba(132,204,255,1);
    }
  }

  &--dark-blue {
    .template-node-0__body {
      border-color: rgba(52,114,247,1);
    }
    .template-node-1__body {
      border-color: rgba(52,114,247,1);
      background: rgba(158,189,255,1);
    }
  }

  &--gray {
    .template-node-0__body {
      border-color: rgba(183,183,183,1);
    }
    .template-node-1__body {
      border-color: rgba(183,183,183,1);
      background: rgba(231,231,231,1)
    }
  }
}
