@import "lib/font-awesome/font-awesome";

body {
  margin-top: 70px;
  background: #fbfbfb;
}

.project-list .card-action {
}
.project-list .card:hover,.project-list .card:focus {
  background-color: #f0f0f0;
}
.project-list .card-action a {
  font-size: 1.6em;
}
.project-list .card-action small {
  display: inline-block;
  vertical-align: top;
  margin-top: 8px;
}
.project-list .card-title {
  font-size: 2.2em;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
  color: #2ca8ff;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating):hover {
  color: #59bbff;
}

img {
  max-width:100%;
}

textarea {
  height: 150px;
  border-color: #ddd;
}

input[type=range] + .thumb {
  margin-top: -15px;
}


.main-title {
  pointer-events: none;
  position: fixed;
  top: 0;
  margin: 0;
  text-align: center;
  z-index: 1040;
  line-height: 50px;
  font-size: 1.3em;
  left: 50%;
  transform: translateX(-50%);
}

.navbar {
  &__avatar {
    margin-right: 5px;
    width: 40px;
    border-radius: 20px;
  }
}

.thumbnail {
  margin-bottom: 10px;
}

.card.designer {
  .thumbnail {
    margin-bottom: 0;
  }
  .card-title {
    font-size: 1.4em;
    font-weight: bold;
  }
  .card-content {
    padding-top: 16px;
    padding-bottom: 16px;

    p {
      margin-bottom: 15px;
    }
  }

  .rating {
    line-height: 1.4em;
    margin-top: 8px;

    i {
      font-size: 1.1em;
      color: #bbb;
    }
    span {
      display: inline-block;
      margin-left: 5px;
      vertical-align: top;
    }
  }
}

.inspiration-tags {
  .btn {
    margin-bottom: 10px;
    padding: 0;
    font-size: 0.9em;
    height: 30px;
    line-height: 30px;
  }
}
.row.grid-sm {
  margin-left: -10px;
  margin-right: -10px;

  .col-xs-4, .col-xs-6, .col-xs-12 {
    padding-right: 5px;
    padding-left: 5px;
  }
}

.navbar-brand {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 0;
}
.navbar-brand img {
  max-height: 100%;
  padding: 10px;
}

.container {
  width: 100%;
}

.seq {
  background: url('../images/cube-prepare.png') no-repeat left 5px;
  padding-top: 3px;

  h3 {
    font-size: 1.4em;
    text-align: center;
    font-weight: bold;
  }
  ul {
    margin-left: 55px;

    li {
      position: relative;
      margin-bottom: 10px;

      > span,
      > a {
        border-radius: 6px;
        border: 2px solid #2ca8ff;
        text-align: center;
        padding: 5px;
        font-size: 1.2em;
        display: block;
      }

      &.sub {
        padding-left: 50px;
        padding-right: 20px;

        &:before {
          position: absolute;
          top: 5px;
          left: 15px;
          content: 'subdirectory_arrow_right';
          color: #2ca8ff;
          font-family: 'Material Icons';
          font-weight: normal;
          font-style: normal;
          font-size: 24px;
          line-height: 1;
          letter-spacing: normal;
          text-transform: none;
          display: inline-block;
          white-space: nowrap;
          word-wrap: normal;
          direction: ltr;
          text-rendering: optimizeLegibility;
          -webkit-font-smoothing: antialiased;
        }

        &.sub > span,
        &.sub > a {
          background: #84ccff;
        }
      }
    }
  }

  &.seq-refine {
    background-image: url('../images/cube-refine.png');

    ul li > span,
    ul li > a {
      border-color: #b7b7b7;
    }
    ul li.sub:before {
      color: #b7b7b7;
    }
    ul li.sub > span,
    ul li.sub > a {
      background-color: #e7e7e7;
    }
  }

  &.seq-construct {
    background-image: url('../images/cube-construct.png');

    ul li > span,
    ul li > a {
      border-color: #3472f7;
    }
    ul li.sub:before {
      color: #3472f7;
    }
    ul li.sub > span,
    ul li.sub > a {
      background-color: #9ebdff;
    }
  }

  ul li.complete {
    > span,
    > a {
      border-color: #6ccd7c;
      background-color: #6ccd7c !important;
    }
    &:before {
      color: #6ccd7c;
    }
  }
}

.btn-clear {
  background: transparent;
  color: gray;
}
.chat-dialog {
  padding: 10px;
}
.invisible-trigger-btn {
  position: fixed;
  bottom: 0;
  right: 0;
  opacity: 0;
}
